extend layout.pug

block listNavbar
    ul(class="nav navbar-nav")
        li
            a(href="/") Home
        li
            a(href="/about") About
        li(class="active")
            a(href="/login") Login

block content
    style
        include styles/form_style.css
    p #{errorMessage}
    <form action="#" method="post">
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>
            <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="6LfwzcMbAAAAAIB5CUp-S8F25Gt-M59DQXYKopJZ"></div>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form> 
